---
title: "Home"
permalink: index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: home
    title: "{{ title }}"
---
{% extends "base.njk" %}
{% block main %}
  <h1>Paul</h1>
{% endblock %}
