---
title: "Home"
permalink: index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: home
    title: "{{ title }}"
---
{% extends "base.njk" %}
{% block main %}
  <h1>Heading level 1</h1>
{% endblock %}

{% block blah %}{% endblock blah %}
